.jumbotron.charm-header {
    .btn {
        margin-right: 5px;
    }
    .fa {
        padding-right: 5px;
    }
    h1 {
        font-size: 5em;
        font-family: sans;
        font-weight: 500;

        .thin {
            font-weight: 20;
        }
    }
}