.charm-banner {
    background-image: url('../images/splash.jpg');
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: black;
    background-size: cover;
    margin-bottom: 0;

    height: 10%;

    .btn {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .fa {
        padding-right: 5px;
    }

    h1 {
        color: white;
        font-size: 5.8em;
        font-family: sans;
        font-weight: 500;

        .thin {
            font-weight: 50;
        }
    }
}

.subtitle {
    font-size: 4em;
}