.charm-banner {
  background-image: url("../images/splash.jpg");
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: black;
  background-size: cover;
  margin-bottom: 0;
  height: 10%; }
  .charm-banner .btn {
    margin-right: 5px;
    margin-bottom: 10px; }
  .charm-banner .fa {
    padding-right: 5px; }
  .charm-banner h1 {
    color: white;
    font-size: 5.8em;
    font-family: sans;
    font-weight: 500; }
    .charm-banner h1 .thin {
      font-weight: 50; }

.subtitle {
  font-size: 4em; }

.charm-footer {
  margin: 100px 0 50px 0;
  font-size: 0.9em; }

.card.charm-feature {
  margin-bottom: 16px;
  box-shadow: 0px 4px 0px #181818; }

.front-page .row {
  margin-top: 100px;
  margin-bottom: 20px; }

.nav-pills {
  background-color: #303030;
  padding: 10px 0px; }
  .nav-pills .nav-link {
    font-size: 1.1em;
    padding-left: 15px;
    padding-right: 15px; }
    .nav-pills .nav-link.active {
      background-color: #444; }

p {
  font-size: 1.2em; }

.btn {
  font-size: 1.15em;
  box-shadow: 0px 4px 0px #222222; }
