.minecraft112 {
    .splash {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("https://i.postimg.cc/dVXZT43D/splash-1.12.jpg");
        height: 400px;
    }

    .categories {
        li {
            min-width: 14.28%;
        }
    }
}