@import 'mixins';
@import 'variables';

.home-header {
  border-bottom: 1px dashed $border-color;
  background-image: url("https://raw.githubusercontent.com/svenhjol/Charm-Assets/master/web/splash-1.17_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    text-align: center;
    font-size: 8.5em;
    color: #efefef;
    @include textShadow(#3e3c3a, 0px, 0px, 9px);
    padding-top: 50px;
    margin-bottom: 80px;
  }

  .nav-buttons {
    .card {
      background-color: $gray3a !important;
      margin-bottom: 25px;

      .card-header {
        text-align: center;
        color: $gray1;
        font-size: 1.3em;
      }

      .card-body {
        font-size: 0.9em;
        ul {
          padding-left: 10px;
        }
      }
    }
  }
}

.home-content {
  min-height: 480px;
  margin-top: 50px;

  h1 {
    margin-top: 50px;
    font-size: 3.7em;
    text-align: center;
  }

  h2 {
    margin-top: 70px;
    text-align: center;
    clear: both;
    font-size: 2.5em;
    color: lighten($header-color, 2%);

    &:not(:first-child) {
      padding-top: 50px;
    }
    padding-bottom: 30px;
  }

  h3 {
    font-size: 1.2em;
    clear: both;
  }

  p {
  }
}

.home-features {
  margin-top: 50px;
  margin-bottom: 50px;

  .home-feature {
    margin-bottom: 25px;

    .card {
      background-color: $gray3a !important;
    }

    .card-title {
      text-align: center;
    }
  }
}
