@import 'variables';

.header-content {
    h1 {
        margin-top: 50px;
        font-size: 3.7em;
        text-align: center;
    }

    p {
        margin: 0;
        padding-top: 20px;
        text-align: center;
    }

    padding-bottom: 50px;
}