@import 'variables';

.home-content {
    .download-link {
        text-align: center;
    }

    #main_content {
        h1 {
            margin-top: 50px;
            font-size: 3.7em;
            text-align: center;
        }

        h2 {
            margin-top: 70px;
            text-align: center;
        }
    }
}

.header-content {
    h1 {
        margin-top: 50px;
        font-size: 3.7em;
        text-align: center;
    }

    p {
        margin: 0;
        padding-top: 20px;
        text-align: center;
    }

    padding-bottom: 50px;
}

.page-content {
    p {
        line-height: 1.6em;
    }

    #main_content {
        h2 {
            clear: both;
            font-size: 2.5em;
            color: lighten($header-color, 2%);
            text-align: center;

            &:not(:first-child) {
                padding-top: 50px;
            }
            padding-bottom: 30px;
        }

        h3 {
            font-size: 1.8em;
            margin-left: 10px;
            clear: both;
            border-bottom: 1px dashed $border-color;
            margin-top: 60px;
        }

        p {
            margin-left: 10px;
        }
    }

    img {
        width: 120px;
        height: 120px;
        float: right;
        margin-left: 15px;
        margin-bottom: 15px;
        border: 1px solid #303030;
        border-radius: 5px;
        box-shadow: 1px 3px 4px #000000;
    }

    code {
        padding: 8px 16px;
        background-color: $tag-background-color;
        color: $tag-color;
    }
}