@mixin trans($prop, $duration, $mode) {
    -moz-transition: $prop $duration $mode;
    -webkit-transition: $prop $duration $mode;
    transition: $prop $duration $mode;
}

@mixin textShadow($col, $x, $y, $fuzz) {
    text-shadow: $col $x $y $fuzz;
}