$green: #b5e853;
$blue: #53d8c5;
$link-color: darken($blue, 15);
$header-color: lighten($blue, 10);

header {
    border-bottom-color: $blue;

    p.author {
        font-size: 0.9em;
        padding: 0;
        margin: 0;
    }

    h1 {
        margin: 0;
        font-size: 2.7em;

        &:before {
            display: none;
        }
    }

    h2 {
        margin-top: 20px;
    }
}

.home {
    .download-link {
        text-align: center;
    }

    #main_content h1 {
        font-size: 3em;
        text-align: center;
    }

    h2 {
        margin-top: 70px;
        text-align: center;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $header-color;
}

ul li {
    list-style-image: none;
}

a, a:link, a:visited {
    color: $link-color;
}

a:hover {
    color: darken($color: $link-color, $amount: 12)
}

header {
    a {
        text-decoration: none;
    }

    .navbar {
        padding-bottom: 15px;

        .home-layout & {
            display: none;
        }
    }
}

footer {
    background-color: black;
    padding: 50px 0;
    margin-top: 50px;
    h2 {
        color: white;
        font-size: 1.7em;
    }
    a, a:hover, a:visited, a:focus {
        text-decoration: none;
        color: white;
    }
    color: white;
}

.center-image {
    margin: 0 auto;
    display: block;
    padding: 10px 0;
}

#downloads {
    .page-layout & {
        float: right;
        margin-top: -10px;
    }
}