@import 'mixins';
@import 'variables';

.section-header {
  h1 {
    font-size: 5em;
    a, a:link, a:active, a:focus {
      color: white !important;
    }
  }
}

.section-content {
  h2 {
    clear: both;
    font-size: 3.0em !important; // overridden by theme
    color: lighten($header-color, 2%);
    text-align: center;

    &:not(:first-child) {
      padding-top: 50px;
    }
    padding-bottom: 30px;
  }

  h3 {
    font-size: 1.8em !important; // overridden by theme
    margin-left: 10px;
    clear: both;
    border-bottom: 1px dashed $border-color;
    margin-top: 60px;
  }

  p {
    line-height: 1.6em;
    margin-left: 10px;
  }

  img {
    width: 120px;
    height: 120px;
    float: right;
    margin-left: 15px;
    margin-bottom: $image-margin-bottom;
    border: 1px solid #303030;
    border-radius: 5px;
    box-shadow: 1px 3px 4px #000000;
  }

  code {
    padding: 8px 16px;
    background-color: $tag-background-color;
    color: $tag-color;
  }
}

.section-menu {
  padding: 0;

  li {
    min-width: 14.28%;
  }

  a {
    $bgcolor: $gray4;
    color: white !important;
    background-color: $bgcolor;
    padding: 16px 12px;
    text-align: center;
    font-size: 0.95em;

    &:hover {
      background-color: lighten($color: $bgcolor, $amount: 5%);
      @include trans(all, 0.5s, linear);
    }
  }

  .list-group-item {
    padding: 0px;
    background-color: transparent;
  }
}