$green: #b5e853;
$blue: #53d8c5;
$red: #ff8080;
$yellow: #f8f055;
$white: #e0e4e8;
$gray1: #a0a4a8;
$gray2: #808488;
$gray3: rgb(52, 58, 62);

$border-color: $gray2;
$link-color: darken($blue, 5%);
$header-color: $white;
$tag-color: $yellow;
$tag-background-color: black;
$font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;