$green: #b5e853;
$blue: #90dae6;
$red: #ff5049;
$yellow: #f8f055;
$white: #e8e4e0;
$gray1: #a8a4a0;
$gray2: #888480;
$gray3: rgb(60, 58, 56);
$gray3a: darken(rgba(60, 58, 56, 0.86), 3);
$gray4: rgb(48, 46, 44);

$border-color: $gray3;
$link-color: darken($blue, 5%);
$header-color: $white;
$tag-color: $yellow;
$tag-background-color: black;
$font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$image-margin-bottom: 40px;