$green: #b5e853;
$blue: #53d8c5;
$red: #ff4f20;
$yellow: #f8f055;
$border-color: $red;
$link-color: darken($red, 5%);
$header-color: lighten($red, 5%);
$tag-color: $yellow;
$tag-background-color: black;